* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    align-items: center;
    background-color: #FFF;
    color: #FFFFFF;
    font-family: sans-serif;
}

header {
    display: block;
    background-image: url(assets/);
    background-size: cover;
    height: 14.4em;
    background-repeat: no-repeat;
    background-position: top;
    background-color: grey;

}

footer {
    background: rgba(67, 78, 72, 1);

    height: 100px;
    position: fixed;
    bottom: 0;
}

/***** NAVIGATION ******/

.burger-menu {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 5px;
    left: 9px;
}

.main-nav {
    overflow: hidden;
    transition: all .15s ease;
    font-family: sans-serif;
    font-size: 21px;
    outline-color: #000;
    width: 0;
    height: 800px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    border: solid 1px #000;
    background-color: #FFF;

}

.main-nav a {
    text-decoration: none;
}

.main-nav ul {
    list-style: none;
    padding: 2em 0 .5em 0;
    margin: 0;

}

.main-nav .closebtn {
    font-size: 36px;
    position: absolute;
    left: 85%;
    color: #000;

}

.open {
    width: 60%;
}

.close {
    width: 0;
}

.open-mq {
    width: 60%;
}

.main-nav ul a {
    padding: 0;
    text-align: left;
    font-size: 14px;
    color: #000;
    display: block;
    font-family: 'Avenir', 'Lato', sans-serif;

}

.main-nav ul li {
    padding: .5em;
}

.main-nav ul li.subli {
    border-bottom: solid 1px #000;
    padding-left: 1.5em;
}


/******* MAIN *******/

.down-arrow {
    display: none;
}







/****************** TABLET **************************/

@media only screen and (min-width: 30em) {

    header {
        height: 40vh;
    }

    .open {
        width: 27%;
    }



}


/***************** desktop ***********************/

@media only screen and (min-width:50em) {
    header {
        height: 80vh;
        background-attachment: fixed;

    }


    /************* NAVIGATION *************/
    label {
        display: none;
    }

    .burger-menu {
        display: none;
    }

    #mainnav ul {
        display: inline-flex;

        width: 100%;
        padding-left: 30px;
        padding-top: 0;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.5);
        float: right;
    }


    #mainnav li {

        border-bottom: none;
        padding-top: 20px;
        font-size: 16px;
        padding-left: 2em;

    }


    .subli {
        display: none;
    }


  /********* MAIN ************/

    .down-arrow {
        display: block;
        margin: auto;
    }

/***** PRODUCTS-TYPE *****/
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 8em;

    padding-bottom: 2em;
    grid-gap: 1em;
    max-width: 1140px !important;
    width: 100%;
    min-height: 100%;
      margin-right: auto;
    margin-left: auto;


}
    .first {
        grid-area: 1/ span 4;
         grid-row: 1/ span 4;
        background-image: url(assets/phone-case.jpg) ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .second {
        background-image: url(assets/flip-flops.jpg);
        grid-area: 1/ span 4;
        grid-row: 1/ span 2;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .third {
      background-image: url(assets/pillows.jpg);
       grid-area: 1/ span 4;
        grid-row: 1/ span 3;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .fourth {
        background-image: url(assets/prints.jpg);
        grid-area: 5/ span 4;
        grid-row: 3/ span 2;
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .fifth {
        background-image: url(assets/acrylic.png);
        grid-area: 1/ span 8;
        grid-row: 5/ span 2;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sixth {
        background-image: url(assets/swimwear.jpg);
        grid-area: 9/ span 4;
        grid-row: 4/ span 3;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .seventh {
        background-image: url(assets/tote-bag.jpeg);
        grid-area: 1/ span 4;
        grid-row: 7/ span 3;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .eighth {
           background-image: url(assets/t-shirts.jpg);
        grid-area: 5/ span 4;
        grid-row: 7/ span 3;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .ninth {
       background-image: url(assets/wallpaper.png);
        grid-area: 9/ span 4;
        grid-row: 7/ span 3;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

.product {
    background-color: lightgray;
    transition: 0.25s ease-in-out;


}

.product:hover {

    transition: 0.25s ease-in-out;

    }

.product-type {
  background-color: rgba(0, 0, 0, 0.5);
    padding: 0;

}



}
